@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
section{
    background-color: rgb(238, 238, 238);
}
#landing-page{
    min-height: 100vh;
}
/* 
    NAVIGATION 
*/
.nav-bar{
    height: 100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    width: 70px;
    height: 70px;
}
.logo{
    width: 100%;
    height: 100%;
}
.nav__links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav__link--anchor{
    font-size: 16px;
    color: #242424;
}

/* 
    NAV LINK HOVER 
*/
.nav__link--hover:hover{
    color: #FB8122;
    border-bottom:1px solid black ;
    transition: all 300ms ease;
}

/* 
    LANDING PAGE BODY 
*/
.landing-page_body{
    height: calc(100vh - 100px - 70px);
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    font-size: 4em;
    font-weight:700;
    line-height: 1.5;
}
.header__info{
    font-size: 1.3em;
    line-height: 1.6;
    width: 100%;
    max-width: 500px;
}
.blue{
    color:#FB8122;
    font-weight: 700;
}
.socail__links{
    display: flex;
    gap: 16px;
    margin-top: 20px;
}
.social__link{
  background-color: #FB8122;
  color: white;  
  padding: 6px;
  font-size: 16px;
  border-radius: 50%;
  transition: all 300ms ease;
}
.click:hover{
    transform: scale(1.1);
}
.click:active{
    transform: scale(0.8);
}
.mail{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.mail__container{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.mail__link{
    font-size: 20px;
    color: white;
}